:root{
    --primary:#b28252;
    --bg: #010101;
    --black:#13131a;
    --border:1rem solid rbga(255,255,255,.3);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border:none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


body{
    font-family: 'Tilt Neon', sans-serif;
    background-color:var(--bg);
    color:#fff;
}
.btn
{
    margin-top:1rem;
    display:inline-block;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    color: #010101;
    background-color:var(--primary);
    border-radius: 0.5rem;
    margin-left: 30px;
    cursor: pointer;
    background: none;
    border: .2rem solid #010101;
}
.btn:hover
{
    background: #a0703f;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 7%;
    background-color: rgba(1,1,1,0.8);
    border-bottom:1px solid #b6895b;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:9999;
}

.navbar .navbar-logo{
    font-size:2rem;
    font-weight:700;
    color:#b28252;
    font-style:italic;
}

.navbar .navbar-logo span{
    font-size:2rem;
    font-weight:700;
    color:#fff;
    font-style:italic;
}

.navbar .navbar-nav a {
    color:#fff;
    display: inline-block;
    font-size:1.3rem;
    margin:0 1rem;
}

.navbar .navbar-nav a:hover{
    color:var(--primary);
}

.navbar .navbar-nav a::after{
    content:'';
    display:block;
    padding-bottom: 0.5rem;
    border-bottom:0.1rem solid var(--primary);
    transform:scaleX(0);
    transition:0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform:scaleX(0.5);
}

.navbar .icons div {
    color: #fff;
    margin-left: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar .icons div:hover{
    color:var(--primary);

}
.navbar .form-container {
    background-color: #fff;
    padding: 20px;
    margin: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 400px;
    position: absolute;
    top: 110%;
    right: -110%;
    transition: right 0.3s ease-in-out;
}
.navbar .form-container.active {
    right: 0;
}
.navbar .form-container h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #010101;
}
.navbar .form-container .box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.navbar .form-container .btn {
    width: 80%;
    padding: 10px;
    background-color: #fff;
    color: #010101;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}
.navbar .form-container .btn:hover {
    background-color: var(--primary);
}
.navbar .form-container .policy-text {
    font-size: 14px;
    color: #010101;
}
.navbar .form-container .policy-text input {
    margin-right: 10px;
}
.navbar .form-container a {
    color: #007BFF;
    text-decoration: none;
}
.navbar .form-container a:hover {
    text-decoration: underline;
}
.navbar .form-container p {
    margin-top: 10px;
    text-align: center;
    color: #010101;
    font-size: 14px;
}
 .navbar .signup-form {
    display: none;
} 
#menu-btn{
    display: none;
}

/* Styling the form */
.navbar .search-form
{
      position: absolute;
      top:115%;
      right: 7%;
      background-color: #fff;
      width: 50rem;
      height:5rem;
      display: flex;
      align-items: center;
      transform:scaleY(0);
      transform-origin:top;
      transition:0.3s;
}
.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input
{ 
      height:100%;
      width:100%;
      font-size:1.6rem;
      color:var(--bg);
      padding:1rem;
      text-transform: none;
}

.navbar .search-form label
{
      cursor:pointer;
      font-size: 2.2rem;
      margin-right: 1.5rem;
      color:var(--bg);
}
.navbar .search-form label:hover{
    color:var(--primary);
}
/* Shopping Cart */
.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    padding: 0 1.5rem;
    background:#fff;
    color: var(--primary);
    transition: 0.3s;
}
.shopping-cart.active {
    right: 0;
}
.shopping-cart .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position:relative;
}
.shopping-cart .cart-item .fa-times{

    position: relative;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--bg);
}
.shopping-cart .cart-item .fa-times:hover{
    color: var(--primary);

}

.shopping-cart .cart-item img
{
    height:7rem;
    
}

.shopping-cart .cart-item .content h3 {
    font-size:2rem;
    color: var(--bg);
    padding-bottom: 0.5rem;
}
.shopping-cart .cart-item .content .price {
    font-size:1.5rem;
    color: var(--primary);
}
.shopping-cart .stn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--primary);
    cursor: pointer;
    width: 100%;
    text-align: center;
}
.shopping-cart .stn:hover{
    letter-spacing: 0.2rem;
}

/* Hero Section */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('/coffeehub_website/coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position:relative;
    -webkit-mask-image:linear-gradient(rgba(0,0,0,1) 90%, rgba(0,0,0,0));
    mask-image:linear-gradient(rgba(0,0,0,1) 85%, rgba(0,0,0,0));
}

.hero::after{
    content:'';
    display:block;
    position: absolute;
    width: 100%;
    height:30%;
    bottom: 0;
    background:linear-gradient(0deg, rgba(1,1,3,1) 8% rgba(255, 255, 255, 0) 50%);
}

.hero .content
{
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1
{
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
    line-height:1.2;
}

.hero .content h1 span {
    color: var(--primary);
}
.hero .content p span{
    color: var(--primary);
}

.hero .content p {
   font-size: 2rem;
   margin-top: 1rem;
   line-height: 1.4;
   font-weight: 100;
   text-shadow:1px 1px 3px rgba(1,1,3,0.5);
   mix-blend-mode: difference;
}

.hero .content .cta{
    margin-top:2rem;
    display:inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color:#fff;
    background-color:var(--primary);
    border-radius: 0.5rem;
    margin-left: 30px;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.hero .content .cta:hover{
    background-color: #b282529c;
}
/*About */
.about{
    padding: 10rem 7% 1.4rem;
}

.about h2, .menu h2, .products h2, .contacts h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span, .menu h2 span, .products h2 span, .contact h2 span {
    color: var(--primary);
}

.about .row{
    display: flex;
}

.about .row .about-img
{
    flex: 1 1 45rem;
}

.about .row .about-img img{
    width:85%;
}

.about .row .content{
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.about .row .content p{
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.2;
}
/*Contact Section */
    
    .contact h2{
            margin-bottom: 1rem;
            text-align: center;
            font-size: 2.6rem;
            padding: 1rem;
        }
     .contact p
    {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 100;
        margin: 1rem;
        padding-bottom: 2rem;
        line-height: 1.2;
    }
    .contact .row{
        display: flex;
        align-items: center;
        background: black;
        flex-wrap: wrap;
        gap:1rem;
    }
    .contact .row .map{
    flex: 1 1 45rem;
    width:100%;
    object-fit:cover;
    }
    .contact .row form{

        flex: 1 1 45rem;
    }
    .contact .row form h3{
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #ffffff
    }
    .contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: black;
    border: 0.5rem solid rgba(255, 255, 255, .1);
    }
    .contact .row form .inputBox span{
        color: #fff;
        font-size: 2rem;
        padding-left: 2rem;
    }
    .contact .row form .inputBox input{
        width:100%;
        padding: 2rem;
        font-size: 1.7rem;
        color: #fff;
        text-transform:none;
        background: none;
    }
    .contact .row form .btn{
        margin-top:0.5rem;
        display:inline-block;
        padding: 1rem 3rem;
        font-size: 1.8rem;
        color:#fff;
        background-color:var(--primary);
        border-radius: 0.5rem;
        margin-left: 15rem;
        margin-bottom: 2rem;
        box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    }
    .contact .row form .btn:hover
    {
        background-color: #b28252a3;
    }
/* Footer */
.footer
{
    background-color:var(--black);
    text-align: center;
}

.footer .socials
{
    padding: 1rem 0;
}

.footer .socials a
{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:  1px solid grey;
    margin: .3rem;
    border-radius: 50%;
}

.footer .socials a:hover 
{
    background-color:var(--primary);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer .links a
{
    color:#fff;
    border: var(--border);
    padding: .5rem;
    font-size: 2rem;
}

.footer .links a:hover{
    color: var(--primary);
}
.footer .credit {
    font-size:2rem;
    color: #fff;
    padding: 1.5rem;
}

.footer .credit span
{
    color:var(--primary);
    
}

::-webkit-scrollbar{
    width:.9rem;
    background-color: hsl(12, 8%, 65%);
}

::-webkit-scrollbar-thumb{
    background-color: hsl(12, 8%, 45%);
}

::-webkit-scrollbar-thumb:hover
{
    background-color: hsl(12, 8%, 35%);
}

.scrollup
{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background: linear-gradient(180deg,
    hsl(12, 32%, 22%) 0%, hsl(12, 42%, 12%) 100%);
    box-shadow: 0 0 8px hsla(12, 32%, 12%,.5);
    color: #fff;
    font-size: 1.1rem;
    display: inline-flex;
    padding: .6rem;
    border-radius: 50%;
    z-index: 9999;
    transition: bottom .5s,transform .3s;
}
.scrollup:hover
{
    transform: translateY(-.25rem);
}
.show-scroll
{
    bottom: 2rem;
    margin: 1rem;
}

/* Media Queries */

/* Laptop */
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .navbar{
        padding: 2rem;
    }
}

/* Tablet */
@media (max-width: 768px){

    #menu-btn{
        display: inline-block;
    }

    .navbar .navbar-nav
    {
          position:absolute;
          top:100%;
          right: -100%;
          background:#fff;
          width:30rem;
          height:50vh;
          
    }

    .navbar .navbar-nav.active
    {
          right: 0;
    }
    .navbar .navbar-nav a
    {
          color:var(--bg);
          display:block;
          text-align: center;
          margin:1.5rem;
          padding:1.5rem;
          font-size:2rem;
    }
    .navbar .navbar-nav a::after{
        transform-origin: 0 3;
  }

    .navbar .navbar-nav a:hover::after{
          transform: scaleX(0.2);
    }
    .navbar .search-form{
        width: 90%;
        height: 4rem;
    }
    .about .row{
        flex-wrap: wrap;
    }
    .about .row.about-img img
    {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }
    .about .row .content{
        padding: 0;
    }

}
/* Menu Section */
.menu h2{
    margin-bottom: 1rem;
}
.menu p{
    max-width: 85rem;
    margin-bottom: 0.8rem;
    margin: auto;
    padding: 0 1;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.2;
}
.menu .box-container{
    display: grid;
    padding-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 0.5em;
}
.menu .box-container .box{
    padding: 2rem;
    text-align: center;
    border: 1rem solid rgba(255, 255, 255, .1);
}
.menu .box-container .box img{
    height: 10rem;
}
.menu .box-container .box h3{
    color:#fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}
.menu .box-container .btn{
    margin-top:2rem;
    display:inline-block;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color:#fff;
    background-color:var(--primary);
    border-radius: 0.5rem;
    margin-left: 20px;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.menu .box-container .box:hover{
    background: #ffffffa1;
}
.menu .box-container .box:hover > *{
    color: var(--bg);
}
/*Products section */

.products h2{
    margin-top: 2rem;
    text-align: center;
}
.products p {
    max-width: 85rem;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 100;
    text-align: center;
    line-height: 1.2;
}

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); 
    gap: 0.5rem;
    padding-top: 2rem;
}


.products .box-container .box {
    text-align: center;
    border: 1rem solid rgba(255, 255, 255, 0.1);
    padding: 2rem;
}

.products .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 1.5rem;
    border: 1px solid #ffffff41;
    color: hsla(0, 0%, 100%, 0.882);
    margin: .3rem;
}

.products .box-container .box .icons a:hover {
    background: var(--primary);
} 


.products .box-container .box img {
    padding-top: 1rem;
    height: 10rem;
    width: 15rem;
}

.products .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding-top: 1rem ;
}

.products .box-container .box .content .stars {
    padding: 1rem;
}

.products .box-container .box .content .stars i {
    padding: 1.5rem;
    font-size: 1.3rem;
    color: var(--primary);
}

.products .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

/* Mobile Phone */
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}



/* Modal Box */
/* Item Detail */
.modal {
    display: none;
    position: fixed;
    z-index:9999;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-container{
    position:relative;
    background-color:#fefefe;
    color: var(--bg);
    margin: 15% auto;
    padding: 1.2rem;
    border: 1px solid #666;
    width:80%;
    animation: animateModal 0.5s;
}

/* Modal Anmation */
@keyframes animateModal
{
    from{
          top:-300px;
          opacity:0;
    }
    to {
          top:0;
          opacity:1;
    }
}

.modal-container .close-icon {
    position: absolute;
    right: 1rem;
}

.modal-content {
    display:flex;
    flex-wrap: nowrap;
}

.modal-content img {
    height:20rem;
    margin-right:2rem;
    margin-bottom:2rem;
}

.modal-content p
{
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 1.2rem;
}

.modal-content a
{
    display:flex;
    gap:1rem;
    width:12rem;
    background-color:var(--primary);
    color:#fff;
    margin-top:1rem;
    padding:1rem 1.6rem;
}

    .about .row {
          flex-wrap:wrap;
    }

    .about .row .about-img img{
          height: 24rem;
          object-fit: cover;
          object-position: center;
    }

    .about .row .content{
          padding: 0;
    }

    .about .row .content h3{
          font-size: 1.6rem;
    }

    

    .contact .row{
          flex-wrap: wrap;
    }

    .contact .row .map{
          height:30rem;
    }

    .contact .row form{
          padding-top:0;
    }

    .modal-content
    {
          flex-wrap:wrap;
    }

